
<center/><br/>
	<img border="0" src="https://2.bp.blogspot.com/-Q81v5p3jj0s/W9lg9VAEzdI/AAAAAAAAIaI/K3JR2hkDFYIJX1OeA2Zey9oadewOHUD3gCLcBGAs/s640/gregwergrwerg.png" width="250" />
		
		<h4><?php echo $wo['lang']['sorry_page_not_found']; ?></h4>
		<a href="<?php echo $wo['config']['site_url']; ?>" class="btn btn-default btn-lg">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg> <?php echo $wo['lang']['home']; ?>
		</a>
	
