<?php
$notification_alert     = Wo_CountNotifications(array(
    'unread' => true,
    'data' => 'all'
));
$messages_alert         = Wo_CountMessages(array(
    'new' => true
));
$followers_alert        = Wo_CountFollowRequests();
$hidden_class           = '';
$messages_hidden_class  = '';
$followers_hidden_class = '';
$unread_update_notification = 'unread-update';
$unread_update_messages = 'unread-update';
$unread_update_followers = 'unread-update';
if ($notification_alert == 0) {
    $hidden_class = ' hidden';
    $unread_update_notification = '';
}
if ($messages_alert == 0) { 
    $messages_hidden_class = ' hidden';
    $unread_update_messages = '';
}
if ($followers_alert == 0) {
    $followers_hidden_class = ' hidden';
    $unread_update_followers = '';
}  
?>

<ul class="nav navbar-nav navbar-right <?php echo Wo_RightToLeft('pull-right');?> menu_mobile">
    <li class="dropdown home">
      <a class="sixteen-font-size" href="<?php echo $wo['config']['site_url']; ?>" style="background-color: <?php echo $wo['config']['btn_background_color'];?>;" data-ajax="?index.php?link1=home">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
      </a>
   </li>
   <li class="dropdown requests-container" onclick="Wo_OpenRequestsMenu();">
      <span class="new-update-alert<?php echo $followers_hidden_class;?>">
      <?php echo $followers_alert?>
      </span>
      <a href="#" class="dropdown-toggle <?php echo $unread_update_followers;?> sixteen-font-size" data-toggle="dropdown" role="button" aria-expanded="false">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
      </a>
      <ul class="dropdown-menu request-list clearfix notifications-dropdown" role="menu" id="requests-list">
        <li>
           <h5 class="text-center"><svg width='50px' height='50px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><circle cx="50" cy="50" r="40" stroke="#676d76" fill="none" stroke-width="6" stroke-linecap="round"><animate attributeName="stroke-dashoffset" dur="1.5s" repeatCount="indefinite" from="0" to="502"></animate><animate attributeName="stroke-dasharray" dur="1.5s" repeatCount="indefinite" values="150.6 100.4;1 250;150.6 100.4"></animate></circle></svg></h5>
        </li>
      </ul>
   </li>
   <li class="dropdown messages-notification-container" onclick="Wo_OpenMessagesMenu();">
      <span class="new-update-alert<?php echo $messages_hidden_class;?>">
      <?php echo $messages_alert?>
      </span>
      <a href="#" class="dropdown-toggle <?php echo $unread_update_messages;?> sixteen-font-size" data-toggle="dropdown" role="button" aria-expanded="false">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
      </a>
      <ul class="dropdown-menu clearfix notifications-dropdown messages-dropdown" role="menu" id="messages-list">
        <li>
           <h5 class="text-center"><svg width='50px' height='50px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><circle cx="50" cy="50" r="40" stroke="#676d76" fill="none" stroke-width="6" stroke-linecap="round"><animate attributeName="stroke-dashoffset" dur="1.5s" repeatCount="indefinite" from="0" to="502"></animate><animate attributeName="stroke-dasharray" dur="1.5s" repeatCount="indefinite" values="150.6 100.4;1 250;150.6 100.4"></animate></circle></svg></h5>
        </li>
      </ul>
   </li>
   <li class="dropdown notification-container" onclick="Wo_OpenNotificationsMenu();">
      <span class="new-update-alert<?php echo $hidden_class;?>">
      <?php echo $notification_alert?>
      </span>
      <a href="#" class="dropdown-toggle <?php echo $unread_update_notification;?> sixteen-font-size" data-toggle="dropdown" role="button" aria-expanded="false">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M22 17H2a3 3 0 0 0 3-3V9a7 7 0 0 1 14 0v5a3 3 0 0 0 3 3zm-8.27 4a2 2 0 0 1-3.46 0"></path></svg>
      </a>
      <ul class="dropdown-menu clearfix notifications-dropdown" role="menu">
         <li onclick="Wo_TurnOffSound();" class="turn-off-sound <?php echo Wo_RightToLeft('text-left');?>">
            <span>
               <?php if ($wo['user']['notifications_sound'] == 0): ?>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-volume-2"><polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon><path d="M19.07 4.93a10 10 0 0 1 0 14.14M15.54 8.46a5 5 0 0 1 0 7.07"></path></svg> <?php echo $wo['lang']['turn_off_notification'] ?>
               <?php else: ?>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-volume-x"><polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon><line x1="23" y1="9" x2="17" y2="15"></line><line x1="17" y1="9" x2="23" y2="15"></line></svg> <?php echo $wo['lang']['turn_on_notification'] ?>
               <?php endif; ?>
            </span> 
         </li>
         <li  id="notification-list">
           <h5 class="text-center"><svg width='50px' height='50px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><circle cx="50" cy="50" r="40" stroke="#676d76" fill="none" stroke-width="6" stroke-linecap="round"><animate attributeName="stroke-dashoffset" dur="1.5s" repeatCount="indefinite" from="0" to="502"></animate><animate attributeName="stroke-dasharray" dur="1.5s" repeatCount="indefinite" values="150.6 100.4;1 250;150.6 100.4"></animate></circle></svg></h5>
         </li>
      </ul>
   </li>
   <li class="dropdown" style="vertical-align: top;">
      <a href="#" class="dropdown-toggle user-menu-combination" data-toggle="dropdown" role="button" aria-expanded="false">
         <span id="user-full-name" class="User-Name hidden-xs">
			<?php if($wo['user']['first_name'] == false) {?>
				<?php echo $wo['user']['username'];?>
			<?php } else {?>
				<?php echo $wo['user']['first_name'];?>
			<?php } ?>
         </span>
         <div class="user-avatar" style="vertical-align: sub;">
            <img id="updateImage-<?php echo $wo['user']['user_id']?>" src="<?php echo $wo['user']['avatar'];?>" alt="<?php echo $wo['user']['name'];?> Profile Picture">
         </div>
		 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical" style="margin-top: -2px;"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
      </a>
      <ul class="dropdown-menu ani-acc-menu" role="menu">
         <?php 
         if ($wo['config']['pro'] == 1) {
         if (Wo_IsUserPro() === false) { ?>
         <li>
            <a href="<?php echo Wo_SeoLink('index.php?link1=go-pro'); ?>" data-ajax="?link1=go-pro">
            <?php echo $wo['lang']['upgrade_to_pro']; ?>
            </a>
         </li>
         <?php } } ?>
         <li class="dropdown-search-link">
            <a href="<?php echo Wo_SeoLink('index.php?link1=search');?>" data-ajax="?link1=search">
            <?php echo $wo['lang']['search']; ?>
            </a>
         </li>
         <li>
            <a id="update-username" href="<?php echo $wo['user']['url']; ?>" data-ajax="?link1=timeline&u=<?php echo $wo['user']['username'];?>">
            <?php echo $wo['lang']['my_profile']; ?>
            </a>
         </li>
         <li><hr></li>
         <?php if ($wo['config']['pro'] == 1) { ?>
         <?php if ($wo['user']['is_pro'] == 1 && $wo['user']['pro_type'] > 1) { ?>
         <li>
            <a href="<?php echo Wo_SeoLink('index.php?link1=boosted-posts');?>" data-ajax="?link1=boosted-posts">
            <?php echo $wo['lang']['boosted_posts']; ?>
            </a>
         </li>
         <li>
            <a href="<?php echo Wo_SeoLink('index.php?link1=boosted-pages');?>" data-ajax="?link1=boosted-pages">
            <?php echo $wo['lang']['boosted_pages']; ?>
            </a>
         </li>
         <li><hr></li>
         <?php } ?>
         <?php } ?>
         <?php if ($wo['config']['pages'] == 1) { ?>
         <li class="dropdown-hidden-link">
            <a href="<?php echo Wo_SeoLink('index.php?link1=create-page'); ?>" data-ajax="?link1=create-page">
            <?php echo $wo['lang']['create_new_page']; ?>
            </a>
         </li>
         <?php } ?>
         <?php if ($wo['config']['groups'] == 1) { ?>
         <li class="dropdown-hidden-link">
            <a href="<?php echo Wo_SeoLink('index.php?link1=create-group'); ?>" data-ajax="?link1=create-group">
            <?php echo $wo['lang']['create_new_group']; ?>
            </a>
         </li>
         <?php } ?>
        
         <?php if ($wo['config']['pages'] == 1) { ?>
         <li class="dropdown-search-link">
            <a href="<?php echo Wo_SeoLink('index.php?link1=pages'); ?>" data-ajax="?link1=pages">
            <?php echo $wo['lang']['pages']; ?>
            </a>
         </li>
         <?php } ?>

         <?php if ($wo['config']['classified'] == 1) { ?>
         <li class="dropdown-search-link">
            <a href="<?php echo Wo_SeoLink('index.php?link1=my-products'); ?>" data-ajax="?link1=my-products">
            <?php echo $wo['lang']['my_products']; ?>
            </a>
         </li>
         <?php } ?>
         <?php if ($wo['config']['classified'] == 1) { ?>
         <li class="dropdown-search-link">
            <a href="<?php echo Wo_SeoLink('index.php?link1=products'); ?>">
            <?php echo $wo['lang']['market']; ?>
            </a>
         </li>
         <?php } ?>
         <?php if ($wo['config']['blogs'] == 1) { ?>
         <li class="dropdown-search-link">
            <a href="<?php echo Wo_SeoLink('index.php?link1=blogs'); ?>" data-ajax="?link1=blogs">
            <?php echo $wo['lang']['blog']; ?>
            </a>
         </li>
         <li class="dropdown-search-link">
            <a href="<?php echo Wo_SeoLink('index.php?link1=my-blogs'); ?>" data-ajax="?link1=my-blogs">
            <?php echo $wo['lang']['my_articles']; ?>
            </a>
         </li>
         <?php if ($wo['config']['movies'] == 1) { ?>
         <li class="dropdown-search-link">
            <a href="<?php echo Wo_SeoLink('index.php?link1=movies'); ?>">
            <?php echo $wo['lang']['movies']; ?>
            </a>
         </li>
         <?php } ?>
         <?php } ?>
         <?php if ($wo['config']['events'] == 1) { ?>
         <li class="dropdown-search-link">
            <a href="<?php echo Wo_SeoLink('index.php?link1=events'); ?>" data-ajax="?link1=events">
            <?php echo $wo['lang']['events']; ?>
            </a>
         </li>
         <?php } ?>

         <?php if ($wo['config']['groups'] == 1) { ?>
         <li class="dropdown-search-link">
            <a href="<?php echo Wo_SeoLink('index.php?link1=groups'); ?>" data-ajax="?link1=groups">
            <?php echo $wo['lang']['groups']; ?>
            </a>
         </li>
         <?php } ?>
         
         <?php if ($wo['config']['forum'] == 1) { ?>
         <li class="dropdown-search-link">
            <a href="<?php echo Wo_SeoLink('index.php?link1=forum'); ?>" >
            <?php echo $wo['lang']['forum']; ?>
            </a>
         </li>
         <?php } ?>

         <?php if ($wo['config']['user_ads'] == 1) { ?>
         <li>
            <a href="<?php echo Wo_SeoLink('index.php?link1=ads'); ?>">
            <?php echo $wo['lang']['ads']; ?>
            </a>
         </li>
         <?php } ?>

         <li class="dropdown-search-link">
            <a href="<?php echo Wo_SeoLink('index.php?link1=albums'); ?>" data-ajax="?link1=albums">
            <?php echo $wo['lang']['albums']; ?>
            </a>
         </li>
         <?php if ($wo['config']['groups'] == 1 || $wo['config']['pages'] == 1) { ?><li><hr></li><?php } ?>
         <li class="dropdown-hidden-link">
            <a href="<?php echo Wo_SeoLink('index.php?link1=setting&page=profile-setting'); ?>" data-ajax="?link1=setting&page=profile-setting">
            <?php echo $wo['lang']['edit']; ?>
            </a>
         </li>
         <li class="dropdown-hidden-link">
            <a href="<?php echo Wo_SeoLink('index.php?link1=setting&page=general-setting'); ?>" data-ajax="?link1=setting&page=general-setting">
            <?php echo $wo['lang']['general_setting']; ?>
            </a>
         </li>
         <li class="dropdown-search-link">
            <a href="<?php echo Wo_SeoLink('index.php?link1=setting'); ?>" data-ajax="?link1=setting">
            <?php echo $wo['lang']['setting']; ?>
            </a>
         </li>
         <?php if(Wo_IsAdmin() || Wo_IsModerator()) { ?>
         <li><hr></li>
         <li>
            <a href="<?php echo $wo['config']['site_url'] . '/admin-cp'; ?>">
            <?php echo $wo['lang']['admin_area']; ?>
            </a>
         </li>
         <?php } ?>
         <li><hr></li>
         <li>
            <a href="<?php echo Wo_SeoLink('index.php?link1=logout'); ?>">
            <?php echo $wo['lang']['log_out']; ?>
            </a>
         </li>
		 <span class="headtoppoint"></span>
      </ul>
   </li>
</ul>